.open-shop-manager {
  flex: 0 0 100%;
}

.simple-shop-craft-5e.shop-manager {
  .item-npc {
    width: 120px;
  }

  .item-active {
    width: 90px;
  }

  .item-unlocked {
    width: 90px;
  }

  .item-controls {
    width: 70px;
  }
}

#tooltip.property-attribution.simple-shop-craft-5e table td.attribution-value {
  inline-size: auto;
  white-space: nowrap;
}

.simple-shop-craft-5e {
  .create-child {
    position: absolute;
    inset: auto 16px 16px auto;
  }

  .window-content-actions {
    position: absolute;
    inset: auto 16px 16px auto;
    display: flex;
    gap: 8px;
  }

  .tab:not(.active) {
    display: none;
  }

  .item-discount {
    width: 70px;

    .unit { color: var(--color-text-tertiary); font-size: var(--font-size-12); }
  }
}

.simple-shop-craft-5e.shop-sheet {
  > .window-header .mode-slider {
    flex: none;
    margin-inline-end: auto;
  }

  .item-controls {
    align-items: center;
  }

  .tab[data-tab="buy"] {
    padding-bottom: 60px;
  }

  .window-content-actions {
    bottom: 60px;
  }

  .item-discount, .item-price, .item-quantity {
    .config-button i { font-size: var(--font-size-11); }
  }

  .sheet-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .header-top {
    display: flex;
    align-items: stretch;
    gap: 12px;
  }

  .shop-summary {
    flex: 1;
  }

  .shop-summary-body {
    display: flex;
    gap: 12px;
    align-items: center;

    .document-image {
      border: none;
      box-shadow: none;
    }
  }

  .shop-summary-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .document-image {
    --dnd5e-document-image-size: 96px;
  }

  section.currency i.currency {
    font-size: var(--font-size-11);
  }

  .player-area {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 8px;
  }

  .player-area-actions {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  [data-application-part].tab.active {
    flex: 1;
    min-height: 0;
    overflow: hidden auto;
    scrollbar-gutter: stable;
  }

  nav.tabs {
    a {
      white-space: nowrap;
      color: var(--color-text-secondary);
      text-transform: uppercase;
      font-family: var(--dnd5e-font-roboto);
      font-weight: bold;
      font-size: var(--font-size-13);

      span { padding-bottom: 1px; }

      &.active {
        color: var(--color-text-primary);

        span { border-bottom: 3px solid var(--dnd5e-color-gold); }
      }
    }
  }

  a.adjustment-button:not([data-action]) { opacity: .2; pointer-events: none; }

  .item-cart {
    width: 70px;
    justify-content: space-evenly;
    gap: 4px;
    border-right: 1px solid var(--dnd5e-color-gold);
    padding-right: 4px;
  }

  .title .bundle-size {
    font-size: var(--font-size-10);
    color: var(--color-text-secondary);
    font-weight: normal;
    margin-left: 4px;
  }

  .item-price {
    min-width: 120px;
  }

  .item.suppressed {
    opacity: .5;
  }

  .warning {
    color: var(--dnd5e-color-failure);
    margin-left: 4px;
    cursor: help;
  }
}

.simple-shop-craft-5e.recipe-sheet {
  .drop-area.is-dragover {
    border-color: var(--dnd5e-color-gold);
    box-shadow: 0 0 6px var(--dnd5e-color-gold);
  }
}
